# **Little Lemon Setup Database**

## Import the MySQL / Python Connector

In [9]:
!pip install mysql-connector-python

# Import MySQL Connector/Python 
import mysql.connector as connector

connection=connector.connect(user="root",password="")

print("Setup the connection is done")

Requirement already satisfied: mysql-connector-python in /home/coder/.local/lib/python3.8/site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in /home/coder/.local/lib/python3.8/site-packages (from mysql-connector-python) (3.20.1)
Setup the connection is done

## Create a cursor

In [13]:
cursor = connection.cursor()
print("Cursor is created successfully")

Cursor is created successfully

## Create the database and set it for use

In [14]:
# Create the database
try:
    cursor.execute("CREATE DATABASE little_lemon_db;")
except:
    cursor.execute("""DROP DATABASE little_lemon_db;""")
    cursor.execute("CREATE DATABASE little_lemon_db;")
print("Database is created")

# Use the database
cursor.execute("USE little_lemon_db")
print("Database is set for use")

Database is created
Database is set for use

## Creating tables

### 1. MenuItems table

In [15]:
# MenuItems table
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

# Execute MenuItems table
cursor.execute(create_menuitem_table)
print("Table is created successfully")

#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

# Populate MenuItems table
cursor.execute(insert_menuitems)
connection.commit()
print("Data is inserted successfully")

Table is created successfully
Data is inserted successfully

### 2. Menus table

In [16]:
# Menus table
create_menus_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

# Execute Menu table
cursor.execute(create_menus_table)
print("Table is created successfully")

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menus="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

# Populate Menus table
cursor.execute(insert_menus)
connection.commit()
print("Data is inserted successfully")

Table is created successfully
Data is inserted successfully

### 3. Employees table

In [17]:
# Employees table
create_employees_table = """CREATE TABLE Employees(
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR(100),
Role VARCHAR(100),
Address VARCHAR(255),
Contact_Number INT,
Email VARCHAR(255),
Annual_Salary VARCHAR(100)
);"""

# Execute Employees table
cursor.execute(create_employees_table)
print("Table is created successfully")

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO Employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

# Populate Employees table
cursor.execute(insert_employees)
connection.commit()
print("Data is inserted successfully")

Table is created successfully
Data is inserted successfully

### 4. Orders table

In [18]:
# Orders table
create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

# Execute Orders table
cursor.execute(create_orders_table)
print("Table is created successfully")

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

# Populate Orders table
cursor.execute(insert_orders)
connection.commit()
print("Data is inserted successfully")

Table is created successfully
Data is inserted successfully

### 5. Bookings table

In [19]:
# Bookings table
create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

# Execute Bookings table
cursor.execute(create_booking_table)
print("Table is created successfully")

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

# Populate Bookings table
cursor.execute(insert_bookings)
connection.commit()
print("Data is inserted successfully")

Table is created successfully
Data is inserted successfully

## Establish the connection and making pools

In [24]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

try:
    pool = MySQLConnectionPool(
        pool_name="pool_a",
        pool_size=2,
        database="little_lemon_db",
        user="root", password=""
    )
    print("The connection pool is created")
except Error as err:
    print("Error code: ", err.errno)
    print("Error message: ", err.msg)

The connection pool is created

In [25]:
# Get a connection
connection1 = pool.get_connection()
print("A connection is created from the pool")

cursor = connection1.cursor()
print("A cursor is created")

A connection is created from the pool
A cursor is created

## Tasks

In [32]:
peakHours_procedure = """
    CREATE PROCEDURE PeakHours()
    BEGIN
        SELECT HOUR(BookingSlot) AS Hour, COUNT(BookingID) AS NumberOfBookings FROM Bookings
        GROUP BY HOUR(BookingSlot) ORDER BY COUNT(BookingID) DESC;
    END
"""

try:
    cursor.execute(peakHours_procedure)
    print("PeakHours procedure is created")
except:
    cursor.execute("DROP PROCEDURE PeakHours")
    cursor.execute(peakHours_procedure)

In [35]:
print("Calling the procedure")
cursor.callproc("PeakHours")

print("Fetching results")
results = next(cursor.stored_results())
dataset = results.fetchall()

Calling the procedure
Fetching results

In [37]:
print("The results are:")

for column_id in cursor.stored_results():
    columns = [column[0] for column in column_id.description]

print(columns)
for data in dataset:
    print(data)

The results are:
['Hour', 'NumberOfBookings']
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

In [38]:
guestStatus_procedure = """
    CREATE PROCEDURE GuestStatus()
    BEGIN
        SELECT CONCAT(B.GuestFirstName, ' ', B.GuestLastName) AS FullName,
            CASE
                WHEN E.Role = 'Manager' OR E.Role = 'Assistant Manager' THEN 'Ready to pay'
                WHEN E.Role = 'Head Chef' THEN 'Ready to serve'
                WHEN E.Role = 'Assistant Chef' THEN 'Preparing Order'
                WHEN E.Role = 'Head Waiter' THEN 'Order served'
            END AS Status
        FROM Bookings AS B LEFT JOIN Employees AS E
            ON B.EmployeeID = E.EmployeeID;
    END
"""

try:
    cursor.execute(guestStatus_procedure)
    print("GuestStatus procedure is created")
except:
    cursor.execute("DROP PROCEDURE GuestStatus")
    cursor.execute(guestStatus_procedure)

GuestStatus procedure is created

In [39]:
print("Calling the procedure")
cursor.callproc("GuestStatus")

print("Fetching results")
results = next(cursor.stored_results())
dataset = results.fetchall()

Calling the procedure
Fetching results

In [40]:
print("The results are:")

for column_id in cursor.stored_results():
    columns = [column[0] for column in column_id.description]

print(columns)
for data in dataset:
    print(data)

The results are:
['FullName', 'Status']
('Anna Iversen', 'Ready to pay')
('Joakim Iversen', 'Ready to pay')
('Vanessa McCarthy', 'Ready to serve')
('Marcos Romero', 'Preparing Order')
('Hiroki Yamane', 'Ready to pay')
('Diana Pinto', 'Order served')

# **Little Lemon analysis and sales report**

## Import the MySQL / Python Connector

In [53]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

try:
    pool_b = MySQLConnectionPool(
        pool_name="pool_b",
        pool_size=2,
        database="little_lemon_db",
        user="root", password=""
    )
    print("The connection pool is created")

except Error as err:
    print("Error code: ", err.errno)
    print("Error message: ", err.msg)

The connection pool is created

## Create connections

In [ ]:
# Connection for guest 1
connection1 = pool_b.get_connection()
cursor1 = connection1.cursor()

booking1 = """
    INSERT INTO Bookings
    (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
    VALUES
    (8, "Anees", "Java", "18:00:00", 6);
"""

cursor1.execute(booking1)
connection1.commit()
print("A new booking is added in the Bookings table")

In [ ]:
# Connection for guest2
connection2 = pool_b.get_connection()
cursor2 = connection2.cursor()

booking2 = """
    INSERT INTO Bookings
    (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
    VALUES
    (5, "Bald", "Vin", "19:00", 6);
"""

cursor2.execute(booking2)
connection2.commit()
print("A new booking is added in the Bookings table")

In [62]:
# Adding a new connection
import mysql.connector as connector
try:
    connection3 = pool.get_connection()
    print("The guest is connected")
except:
    print("Adding a new connection in the pool")

    # Create a connection and add a new one to the pool
    connection = connector.connect(user="root", password="")
    pool.add_connection(cnx=connection)
    print("A new connection is added in the pool")

    connection3 = pool.get_connection()
    print("Connection3 is added in the pool")

booking3 = """
    INSERT INTO Bookings
    (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
    VALUES
    (12, "Jay", "Kon", "19:30", 6);
"""

Adding a new connection in the pool
A new connection is added in the pool
Connection3 is added in the pool

## Performe some analysis

In [86]:
# Getting a connection
try:
    connection = pool.get_connection()
    print("An object is connected successfully")
except:
    connection = connector.connect(user="root", password="")
    pool.add_connection(cnx=connection)

    connection = pool.get_connection()

cursor = connection.cursor()
print("A cursor is created successfully")

A cursor is created successfully

In [71]:
# Manager info
managerInfo = """
    SELECT EmployeeID, Name FROM Employees WHERE Role = "Manager";
"""
cursor.execute(managerInfo)

results = cursor.fetchall()
columns = cursor.column_names
print(columns)
for result in results:
    print(result)

('EmployeeID', 'Name')
(1, 'Mario Gollini')

In [77]:
# Highest salary
highestSalary = """
    SELECT Role, Name FROM Employees WHERE Annual_Salary = (SELECT MAX(Annual_Salary) FROM Employees);
"""
cursor.execute(highestSalary)

results = cursor.fetchall()
columns = cursor.column_names
print(columns)
for result in results:
    print(result)

('Role', 'Name')
('Manager', 'Mario Gollini')

In [78]:
# Guests at reception
annualSalaries = """
    SELECT B.BookingID, CONCAT(B.GuestFirstName, ' ', B.GuestLastName) AS FullName FROM Bookings AS B
    INNER JOIN Employees AS E
        ON E.EmployeeID = B.EmployeeID
    WHERE E.Role = 'Receptionist';
"""
cursor.execute(annualSalaries)

results = cursor.fetchall()
columns = cursor.column_names
print(columns)
for result in results:
    print(result)

('BookingID', 'FullName')
(7, 'Anees Java')

In [88]:
# BasicSalesReport procedure

cursor.execute("""DROP PROCEDURE IF EXISTS BasicSalesReport;""")

basicSalesReport_procedure = """
    CREATE PROCEDURE BasicSalesReport()
    BEGIN
        SELECT SUM(BillAmount) AS TotalSales, AVG(BillAmount) AS AverageSales,
            MIN(BillAmount) AS MinSales, MAX(BillAmount) AS MaxSales
        FROM Orders;
    END
"""
cursor.execute(basicSalesReport_procedure)

cursor.callproc("BasicSalesReport")
results = next(cursor.stored_results())
dataset = results.fetchall()

for column_id in cursor.stored_results():
    cols = [column[0] for column in column_id.description]

print(cols)
for data in dataset:
    print(data)

['TotalSales', 'AverageSales', 'MinSales', 'MaxSales']
(Decimal('243'), Decimal('48.6000'), 37, 86)

In [93]:
# First 3 bookings
threeBookings = """
    SELECT HOUR(B.BookingSlot) AS Hour, CONCAT(B.GuestFirstName, ' ', B.GuestLastName) AS FullName, E.Role
    FROM Bookings AS B INNER JOIN Employees AS E
        ON E.EmployeeID = B.EmployeeID
    ORDER BY HOUR(B.BookingSlot) LIMIT 3;
"""

cursor.execute(threeBookings)

results = cursor.fetchall()
columns = cursor.column_names
print(columns)
for result in results:
    print(result)

('Hour', 'FullName', 'Role')
(15, 'Vanessa McCarthy', 'Head Chef')
(17, 'Marcos Romero', 'Assistant Chef')
(18, 'Hiroki Yamane', 'Assistant Manager')